footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: 12px;
  color: white !important;
}

footer .footer {
  max-width: 1100px;
  margin: auto;
}

footer .icon-logo {
  fill: white;
}

footer .footer p {
  margin: 0 0 12px;
}

footer .footer a{
  text-decoration: underline;
  color: white;
}